<html>
<head>
    <title>Control Robot</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div>
        <img src="{{ url_for('video_feed') }}">
    </div>
    <div class="status">
        <h3>List robots</h3>
        <div id="online_robots"></div>
    </div>

    <div class="send_command">
        <h3>Send command to robot</h3>
        <input type="text" id="robot_id" placeholder="Enter robot id">
        <p>Starting Direction: </p>
        <input type="text" id="start_point" placeholder="x1,y1 (Starting Point)">
        <br/>
        <input type="text" id="head_point" placeholder="x2,y2 (Heading Point)">
        <br/>
        <br>
        <button class="button" id="auto_mode">Auto Mode</button>
        <button class="button" id="manual_mode">Manual Mode</button>
        <br>

        <!-- auto mode -->
        <div id="auto_content">
        <p>Target Point: </p>
        <input type="text" id="target_point" placeholder="x3,y3 (Map size : 3,5)">
        <br/>
        <!-- <p>Destination Point: </p>
        <input type="text" id="destination_point" placeholder="x4,y4 (Map size : 3,5)">
        <br/> -->
        <button class="button" id="point_auto_submit">Submit</button>
        </div>

        <!-- manual mode -->
        <div id="manual_content">
            <br>
            <button class="button" id="point_manual_submit">Submit</button>
            <br>
            <div>
                <button class="button" id="moveForward">Move Forward</button>
                <button class="button" id="moveBackward">Move Backward</button>
                <button class="button" id="moveRight">Move Right</button>
                <button class="button" id="moveLeft">Move Left</button>
                <button class="button" id="turnLeft">Turn Left</button>
                <button class="button" id="turnRight">Turn Right</button>
            </div>
            <div>
                <button class="button" id="pick">Pick object</button>
                <button class="button" id="drop">Drop object</button>
            </div>
            
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function() {
        // Change this base on host ip network address 
        $('#manual_content').hide();
        var host = 'localhost';
        var port = '8080';
        var socket = io.connect('http://'+ host +':' + port);


        socket.on('connect', function() {
            socket.send('User has connected!');
        });

        socket.on('server_update_status', function(data) {
            console.log('server_update_status: '+ data)
            msg = JSON.stringify(data);
            $('#online_robots').html(msg);
        });

        $('#auto_mode').click(() => {
            $('#auto_content').show();
            $('#manual_content').hide();
        });

        $('#manual_mode').click(() => {
            $('#auto_content').hide();
            $('#manual_content').show();
        });

        $('#point_manual_submit').click(() => {
            robot_id = $('#robot_id').val();
            start_point = $('#start_point').val();
            head_point = $('#head_point').val();
            let payload = {
               start_point,
               head_point,
               robot_id
            };

            socket.emit('init_manual_points', payload);
        });

        $('#point_auto_submit').click (() => {
           start_point = $('#start_point').val();
           head_point = $('#head_point').val();
           target_point = $('#target_point').val();
        //    dest_point = $('#destination_point').val();
           robot_id = $('#robot_id').val();
           let payload = {
               start_point,
               head_point,
               target_point,
            //    dest_point,
               robot_id
           };
           socket.emit('init_auto_points', payload);
        });

        $('#moveForward').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id,
                'commands': ['move_forward']
            };
            socket.emit('client_command', request_object);
        });

        $('#moveBackward').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id,
                'commands': ['move_backward']
            };
            socket.emit('client_command', request_object);
        });

        $('#moveRight').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'commands': ['move_right']
            };
            socket.emit('client_command', request_object);
        });

        $('#moveLeft').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'commands': ['move_left']
            };
            socket.emit('client_command', request_object);
        });

        $('#turnRight').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'commands': ['turn_right']
            };
            socket.emit('client_command', request_object);
        });

        $('#turnLeft').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'commands': ['turn_left']
            };
            socket.emit('client_command', request_object);
        });

        $('#pick').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'commands': ['pick']
            };
            socket.emit('client_command', request_object);
        });

        $('#drop').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'commands': ['drop']
            };
            socket.emit('client_command', request_object);
        });
    });
</script>
</body>
</html>