<html>
<head>
    <title>Control Robot</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div>
        <img src="{{ url_for('video_feed') }}">
    </div>
    <div class="status">
        <h3>List robots</h3>
        <div id="online_robots"></div>
    </div>

    <div class="send_command">
        <h3>Send command to robot</h3>
        <input type="text" id="robot_id" placeholder="Enter robot id">
        <br>
        <button class="button" id="auto_mode">Auto Mode</button>
        <button class="button" id="manual_mode">Manual Mode</button>
        <br>

        <!-- auto mode -->
        <div id="auto_content">
        <p>Starting Direction: </p>
        <input type="text" id="start_point" placeholder="x1,y1 (Starting Point)">
        <br/>
        <input type="text" id="head_point" placeholder="x2,y2 (Heading Point)">
        <br/>
        <p>Target Point: </p>
        <input type="text" id="target_point" placeholder="x3,y3 (Map size : 3,5)">
        <br/>
        <button class="button" id="point_submit">Submit</button>
        </div>

        <!-- manual mode -->
        <div id="manual_content">
            <button class="button" id="moveForward">Forward</button>
            <button class="button" id="moveBackward">Backward</button>
            <button class="button" id="turnRight">Right</button>
            <button class="button" id="turnLeft">Left</button>
            <button class="button" id="pick">Pick object</button>
            <button class="button" id="drop">Drop object</button>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function() {
        // Change this base on host ip network address 
        $('#manual_content').hide();
        var host = 'localhost';
        var port = '80';
        var socket = io.connect('http://'+ host +':' + port);


        socket.on('connect', function() {
            socket.send('User has connected!');
        });

        socket.on('server_update_status', function(data) {
            console.log('server_update_status: '+ data)
            msg = JSON.stringify(data);
            $('#online_robots').html(msg);
        });

        $('#auto_mode').click(() => {
            $('#auto_content').show();
            $('#manual_content').hide();
        });

        $('#manual_mode').click(() => {
            $('#auto_content').hide();
            $('#manual_content').show();
        });

        $('#point_submit').click (() => {
           start_point = $('#start_point').val();
           head_point = $('#head_point').val();
           target_point = $('#target_point').val();
           robot_id = $('#robot_id').val();
           let payload = {
               start_point,
               head_point,
               target_point,
               robot_id
           };
           socket.emit('init_points', payload);
        });

        $('#moveForward').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id,
                'command': 'move_forward'
            };
            socket.emit('client_command', request_object);
        });

        $('#moveBackward').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id,
                'command': 'move_backward'
            };
            socket.emit('client_command', request_object);
        });

        $('#turnRight').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'command': 'turn_right'
            };
            socket.emit('client_command', request_object);
        });

        $('#turnLeft').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'command': 'turn_left'
            }
            socket.emit('client_command', request_object);
        });

        $('#pick').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'command': 'pick'
            }
            socket.emit('client_command', request_object);
        });

        $('#drop').on('click', function() {
            robot_id = $('#robot_id').val();
            request_object = {
                'robot_id': robot_id, 
                'command': 'drop'
            };
            socket.emit('client_command', request_object);
        });
    });
</script>
</body>
</html>